div.tooltip {
  position: absolute;
  text-align: center;               
  padding: 2px;               
  font: 12px sans-serif;      
  background: lightsteelblue; 
  border: 0px;        
  border-radius: 8px;         
  pointer-events: none;           
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

input[type='number'] {
  width: 60px;
  margin-left: 6px;
}

dl {
  display: flex;
  flex-flow: row wrap;
  border: solid #333;
  border-width: 1px 1px 0 0;
}
dt {
  flex-basis: 20%;
  padding: 2px 4px;
  background: #333;
  text-align: right;
  color: #fff;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #333;
}